* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.navbar-container {
  position: fixed;
  padding: 10px;
  top: 4px;
  left: 50%;
  width: 97%;
  transform: translateX(-50%);
  border: 2px solid #000;
  border-radius: 4px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar .logo {
  font-weight: bold;
  color: #000;
}

.row-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.row-list li {
  margin-left: 10px;
  position: relative;
}

.row-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background-color: #000;
}

.row-list li a {
  color: #000;
  font-weight: 700;
}

a.active:is(:link, :active, :focus) {
  color: #7e7ee6;
}

::placeholder {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 1em;
}

.books-container:has(.book) {
  border: 2px solid #2d2c2c;
  width: 60vw;
  max-width: 500px;
  margin: 4em auto;
}

.book {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  min-width: 300px;
  padding: 10px 20px;
  align-items: center;
}

.book:nth-child(odd) {
  background-color: #989898;
}

.book-item {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 2px;
}

.remove {
  justify-self: flex-end;
}

.book-title {
  position: relative;
  text-transform: capitalize;
}

.book-title::before {
  position: absolute;
  content: '"';
  left: -8px;
  top: -1%;
}

.book-title::after {
  position: absolute;
  content: '"';
  top: -1%;
}

.book-author::before {
  position: absolute;
  content: "by";
  left: -30px;
}

.book-author {
  position: relative;
  text-transform: capitalize;
}

.btn {
  padding: 0.5em 0.7em;
  border: 2px solid #000;
  box-shadow: 0 4px 3px 0 #000000d4;
}

.divider {
  width: 200px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  margin: 1em auto;
}

form {
  margin: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

form p {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5em auto;
}

input {
  width: 100%;
  padding: 0.5em;
  border: 2px solid #000;
  border-radius: 4px;
  outline: #000;
}

.btn.submit {
  display: inline;
}

/* ========= SECTIONS ========= */
.section-container {
  position: fixed;
  width: 97%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ========= FOOTER ========= */
footer {
  position: fixed;
  bottom: 4px;
  left: 50%;
  width: 97%;
  padding: 10px 2em;
  border: 2px solid #000;
  border-radius: 4px;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 500;
}
