* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 1em;
}

.books-container:has(.book) {
  border: 2px solid #2d2c2c;
  width: 60vw;
  max-width: 500px;
  margin: 4em auto;
}

.book {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  min-width: 300px;
  padding: 10px 20px;
  align-items: center;
}

.book:nth-child(odd) {
  background-color: #989898;
}

.book-item {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 2px;
}

.remove {
  justify-self: flex-end;
}

.book-title {
  position: relative;
  text-transform: capitalize;
}

.book-title::before {
  position: absolute;
  content: '"';
  left: -8px;
  top: -1%;
}

.book-title::after {
  position: absolute;
  content: '"';
  top: -1%;
}

.book-author::before {
  position: absolute;
  content: "by";
  left: -30px;
}

.book-author {
  position: relative;
  text-transform: capitalize;
}

.btn {
  padding: 0.5em 0.7em;
  border: 2px solid #000;
  box-shadow: 0 4px 3px 0 #000000d4;
}

.divider {
  width: 200px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  margin: 1em auto;
}

form {
  margin: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

form p {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5em auto;
}

input {
  width: 100%;
  padding: 0.5em;
  border: 2px solid #000;
  border-radius: 4px;
  outline: #000;
}

.btn.submit {
  display: inline;
}


/* ========= FOOTER =========*/
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 97%;
  padding: 1em 2em;
  border: 2px solid #000;
  border-radius: 4px;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 500
}